@use "../../sass/" as *;
.hero-swiper {
  width: 80%;
  margin: auto;
  margin: 5rem auto;
  img {
    width: 500px;
    border-radius: 15px;
    @include tablet {
      width: 350px;
    }
    @include mobile {
      width: 250px;
    }
  }
}
.downSwiper {
  img {
    width: 310px;
    @media screen and (max-width: 959px) {
      width: 280px;
    }
    @media screen and (max-width: 690px) {
      width: 250px;
    }
    @media screen and (max-width: 610px) {
      width: 230px;
    }
    @media screen and (max-width: 510px) {
      width: 200px;
    }
  }
}
.title-hero__swiper {
  margin-bottom: 1.3rem;
  font-family: "yekan";
  font-size: 1.1rem;
  @media screen and (max-width: 610px) {
    font-size: 0.8rem;
  }
}
