* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Afsaneh";
  src: url("./fonts/A.Afsaneh.Font.ttf");
}
@font-face {
  font-family: "yekan";
  src: url("./fonts/IRANYekanWebBold.woff2") format("woff2");
}
